.imgMain {
  width: 500px;
  height: 400px;
  display: block;
  margin-bottom: 20px;
  border-radius: 10px;
}

.etcImg-frame {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.imgEtc {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.deatil-gameImg {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.detail-gameTitle {
  font-size: 24px;
  font-weight: 800;
  margin-top: 20px;
}

.description {
  width: 500px;
  margin-top: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detail-genres {
  font-size: 16px;
  display: flex;
  margin-top: 20px;
}

.genreTitle {
  margin-right: 15px;
  font-weight: 800;
}

.detail-released {
  font-size: 16px;
  display: flex;
  margin-top: 5px;
}

.releasedTitle {
  margin-right: 15px;
  font-weight: 800;
}

.detail-rating {
  font-size: 16px;
  display: flex;
  margin-top: 5px;
}

.ratingTitle {
  margin-right: 15px;
  font-weight: 800;
}

.detail-price {
  display: flex;
  float: right;
  flex-direction: column;
}

.priceTitle {
  text-align: end;
  font-size: 30px;
  font-weight: 800;
  margin-top: 40px;
  margin-right: 50px;
}

.buttonFrame {
  width: 350px;
  display: flex;
  align-items: end;
  margin-top: 20px;
  margin-right: 50px;
  justify-content: space-between;
}
