.login-layout {
  /* 위드, 헤이트, 백 그라운드 컬러 바꿀 것 레이아웃은 바꿀 것 */
  width: auto;
  height: 750px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.login-contain {
  min-width: 400px;
  height: auto;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 2vw auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.login-button {
  padding: 9px;
  margin: auto 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: white;

  &:hover {
    background-color: var(--hover-color);
  }
}

.store-name,
.community-name,
.mypage-name,
.logout-name,
.login-name,
.signup-name {
  cursor: pointer;
  margin: 0px 3px;

  &:hover {
    color: var(--hover-color);
  }
}
