.event-title {
}

.event-frame {
  display: flex;
}

.event-img1 {
  width: 400px;
  height: 400px;
}

.event-rightImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
}

.event-img2 {
  width: 400px;
  height: 190px;
}

.event-img3 {
  width: 400px;
  height: 190px;
}

/* ---------------------------------- */

.categorieList-frame {
  width: 220px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ceacf6;
  border-radius: 10px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.categorie-list {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px;
  border-bottom: 1px solid #ceacf6;
}

.categorie-list:hover {
  width: 200px;
  color: white;
  cursor: pointer;
  background-color: #ceacf6;
}
